<link href="/assets/plugins/countdown/jquery.countdown.css" rel="stylesheet">



		<!-- BEGIN coming-soon -->
		<div class="coming-soon">
			<!-- BEGIN coming-soon-header -->
			<div class="coming-soon-header">
				<div class="bg-cover"></div>
				<div class="brand">
					<span class="logo"><i class="ion-ios-cloud2"></i></span> <b>Hitachi</b> Energy APP
				</div>
				<div class="desc">
					Our website is almost there and it’s rebuilt from scratch! A lot of great new features <br>and improvements are coming.
				</div>
				<div class="timer">
					<div id="timer" class="is-countdown"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">150</span><span class="countdown-period">Days</span></span><span class="countdown-section"><span class="countdown-amount">13</span><span class="countdown-period">Hours</span></span><span class="countdown-section"><span class="countdown-amount">53</span><span class="countdown-period">Minutes</span></span><span class="countdown-section"><span class="countdown-amount">12</span><span class="countdown-period">Seconds</span></span></span></div>
				</div>
			</div>
			<!-- END coming-soon-header -->
			<!-- BEGIN coming-soon-content -->
			<div class="coming-soon-content">
				<div class="desc">
					We are launching a closed <b>beta</b> soon!<br> Sign up to try it before others and be the first to know when we <b>launch</b>.
				</div>
				 
			</div>
			<!-- END coming-soon-content -->
		</div>
		<!-- END coming-soon -->
		

<%= render :partial =>"layouts/app_bottom_script" %> 


<script src="/assets/plugins/countdown/jquery.plugin.min.js"></script>
<script src="/assets/plugins/countdown/jquery.countdown.min.js"></script>
<script src="/assets/js/demo/coming-soon.demo.js"></script>