<div class="row">               
    <div class="table-responsive">
      <table id="devanado_details_r2" class="table table-hover align-middle">
        <thead>
          <tr class="text-center">
            <th></th>
            <% @template_selected = DevanadoTemplateTransformer.find_by_transformer_id(@transformer.id) %>
            <% @template = DevanadoTemplate.find(@template_selected.devanado_template_id) %>
            <% @template.devanado_template_details.where("devanado_flow_id = 2").each do |devanado_template_detail| %>
            <th><%= devanado_template_detail.name %></th>
            <% end%>
          </tr>
        </thead>
        <tbody>
          <% @devanado.devanado_details.where("devanado_flow_id= 2").each do |devanado_detail| %>
          <tr>
            <input value="2" autocomplete="off" type="hidden" name="devanado[devanado_details_attributes][999000][devanado_flow_id]" id="devanado_devanado_details_attributes_999000_devanado_flow_id">
            <td> </td>
            <td><input class="form-control text-center" data-parsley-type="number" data-parsley-required="false" placeholder="Digitar Valor" type="text" name="devanado[devanado_details_attributes][999000][col1_val]" id="devanado_devanado_details_attributes_999000_col1_val" value="<%= devanado_detail.col1_val %>"></td>
            <td><input class="form-control text-center" data-parsley-type="number" data-parsley-required="false" placeholder="Digitar Valor" type="text" name="devanado[devanado_details_attributes][999000][col2_val]" id="devanado_devanado_details_attributes_999000_col2_val" value="<%= devanado_detail.col2_val %>"></td>
            <td><input class="form-control text-center" data-parsley-type="number" data-parsley-required="false" placeholder="Digitar Valor" type="text" name="devanado[devanado_details_attributes][999000][col3_val]" id="devanado_devanado_details_attributes_999000_col3_val" value="<%= devanado_detail.col3_val %>"></td>
          </tr>  
          <% end %>
        </tbody>
      </table>
    </div>
</div> 