<% title "Reporte Paso 1" %>

<div class="form-group row m-b-15 text-black">
  <h2>Importación de Cromatografías</h2>
</div>

<div id="myModal">
  <%= render :partial =>"transformer_management/import_cromas/partials/form_step1" %>
</div>


<%= render :partial =>"layouts/app_bottom_script" %>
<%= render :partial =>"layouts/form_validation" %>
<%= render :partial =>"layouts/form_plugins" %>