<!DOCTYPE html>
<html>
    <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
      <h2>Estimado/a <%= @user.name %> <%= @user.lastname1 %>.</h2>
      <p>
        Ha realizado una solicitud de cambio de contraseña.
      </p>
      <p>
        Para cambiar su contraseña, por favor haga click en el siguiente link.
      </p>
      <p>
        La vigencia del link es de 2 horas: <%= @password_reset_url %>
      </p>
      <p>
        Si no ha realizado una solicitud de cambio de contraseña, ignora este mensaje y tu contraseña seguirá siendo la misma.
      </p>
    </body>
</html>


