<!-- BEGIN panel -->
<div class="panela">
  <!-- BEGIN panel-body -->
  <div class="panel-body">
    <!-- BEGIN modal -->
    <div class="modal modal-message fade show pt-5" id="modal-message" style="display: block;" aria-modal="true" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
                     
          <div class="modal-body2">
            <%= render 'devanado_management/devanado_templates/partials/form_edit', devanado_template: @devanado_template %>
          </div>
        </div>
      </div>
    </div>
    <!-- END modal -->
  </div>
  <!-- END panel-body -->
</div>
<!-- END panel --> 

<!-- BEGIN background color --> 
<div class="modal-backdrop show"></div>
<!-- END background color --> 