<div class="section">
    <p>Para el desarrollo del presente informe se han considerado las siguientes normas:</p>

    <p><strong>IEC 60599 - 2022</strong> <em>“Mineral oil-filled electrical equipment in service - Guidance on the interpretation of dissolved and free gases analysis”.</em></p>

    <p><em>Se emplean las tablas A2 y A4 de potencia y distribución respectivamente:</em></p>
    
    <p class="text-center"><%= wicked_pdf_image_tag asset_url('tabla2.jpg'), width: '450', height: '180',class: "text-center" %></p>

    
    <p class="text-center"><%= wicked_pdf_image_tag asset_url('tabla4.jpg'), width: '450', height: '180',class: "text-center" %></p>

    <p><strong>IEEE Std C57.104™-2019:</strong> Guide for the interpretation of Gases Generated in Mineral Oil-Immersed Transformers.</p>
    <p><strong>IEEE Std C57.106™-2015:</strong> Guide for Acceptance and Maintenance of Insulating Mineral Oil in Electrical Equipment.</p>

</div>