<div class="section">

  <p>El presente informe ha sido elaborado por el equipo técnico especializado, conforme a los procedimientos establecidos y siguiendo los estándares de calidad requeridos.</p>

  <p>A continuación, se detallan los profesionales responsables de la elaboración del presente documento:</p>

  <ul>
    <li><strong>Elaborado por:</strong> <%= @report.user.str_complete_name rescue "" %></li>
    <li><strong>Revisado por:</strong> Ronald Quispe</li>
    <li><strong>Aprobado por:</strong> Oscar Miguel Higa Yagi</li>
  </ul>
 
</div>