<div class="content__boxed w-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
  <div class="content__wrap">

    <!-- Login card -->
    <div class="card shadow-lg">
      <div class="card-body">

        <div class="text-center text-dark">
          <h1 class="h3">Olvidaste Contraseña?</h1>
          <p>Ingresar email para resetar clave.</p>
        </div>

        <%= form_for @user, :as => :user, :url => forgot_password_path, :method => :put,:html=>{:class=>"mt-4 needs-validation",:novalidate=> :true} do |f| %>

        <%= flash_messages %>
        <div class="mb-3">
          <%= f.email_field :username , :class=>"form-control", :placeholder=>"Email", :required=> true , :autofocus => :true %>
          <div class="invalid-feedback">Por favor ingresar Email</div>
        </div>

        <div class="d-grid mt-5">
          <button class="btn btn-warning btn-lg" type="submit">Cambiar Password</button>
        </div>
        <% end %>

        <div class="text-center mt-3">
          <a href="./" class="btn-link text-decoration-none">Regresar a Login</a>
        </div>

      </div>
    </div>
    <!-- END : Login card -->
  </div>
</div>