<% title "Reporte Paso 3" %>

<div class="form-group row m-b-15 text-black">
  <h2>Importación de Transformadores</h2>
</div>
   
<%= render :partial =>"transformer_management/import_transformers/partials/form_step3" %>           

<!-- begin script-->
<%= render :partial =>"layouts/app_bottom_script" %>
<%= render :partial =>"layouts/table_manage_buttons_import" %>
<!-- end script--> 