<% title "Reporte Paso 2" %>

<div class="form-group row m-b-15 text-black">
  <h2>Importación de Transformadores</h2>
</div>
   
<%= render :partial =>"transformer_management/import_transformers/partials/form_step2" %>           