<div class="modal fade" id="new_event">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nuevo Evento</h4>
      </div>
      <div class="modal-body">
        <%= render 'calendar_management/meet_events/form'   %>
      </div>
    </div>
  </div>
</div>
