<!--begin panel-main -->
<div class="panel-body">
  <%= render :partial =>"transformer_management/transformers/partials/last_chromatographical_min" %> 
</div>
<!--end panel-main -->
<!--begin panel-secondary -->
<div class="panel-body" style="display:none;">
  <%= render :partial =>"transformer_management/transformers/partials/last_chromatographical_full" %> 
</div>
<!--end panel-secondary -->