<div class="row">
    <!-- begin nav-->
    <ul class="nav nav-tabs nav-tabs-inverse bg-gray-800 text-white pt-1 pb-1">
      <li class="nav-item ps-1">
        <a href="<%= transformer_management_transformers_path  %>" class="nav-link <%= active_link_to_class(transformer_management_transformers_path, :active => :inclusive)  %> text- "><i class="fa-solid fa-circle-info"></i> Resumen </a>
      </li>
       
      <li class="nav-item">
        <a href="<%= transformer_management_data_transformers_path  %>" class="nav-link <%= active_link_to_class(transformer_management_data_transformers_path, :active => :inclusive)  %> text- "><i class="fa-solid fa-circle-info"></i> Vista Avanzada </a>
      </li>
       
    </ul>    
    <!-- end nav-->
 </div>