<table id="example" class="table table-hover align-middle table-bordered">
  <thead>
    <tr valign="middle" align="center">
      <th data-orderable="false" class="sorting_disabled"><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
 
      <th>N°Serie</th>
      <th>TAG</th>
      <th>Cliente  </th>
      <th>Ubicación</th>
      <th>Área</th>
      <th>Subestación</th>
      <th>Voltaje<br> (Kv)</th>
      <th>Potencia<br> (MVA)</th>
      <th>Edad<br> (años)</th>    
      <th>Tipo de Transformador</th>   
      <th>Tipo de Conmutador</th>   
      <th>Tipo de Conexión</th>    
      <th>Nº de Fases</th>    
      <th>Nº de Taps</th>                   
      <th>Tipo de Aceite</th>          
      <th>Marca</th>   
      <th>Sistema de Preservación</th>   
      <th>Índice de Salud</th>          
      <th>Estado</th> 
 
    </tr>
    <tr class="text-center filter_row">
      <td data-orderable="false" class="sorting_disabled">Selección</td>
 
      <th>N°Serie</th>
      <th>TAG</th>
      <th>Cliente  </th>
      <th>Ubicación</th>
      <th>Área</th>
      <th>Subestación</th>
      <th>Voltaje<br> (Kv)</th>
      <th>Potencia<br> (MVA)</th>
      <th>Edad<br> (años)</th>    
      <th>Tipo de Transformador</th>   
      <th>Tipo de Conmutador</th>   
      <th>Tipo de Conexión</th>  
      <th>Nº de Fases</th>    
      <th>Nº de Taps</th>              
      <th>Tipo de Aceite</th>          
      <th>Marca</th>   
      <th>Sistema de Preservación</th>           
      <th>Índice de Salud</th> 
      <th>Estado</th>    
    </tr>    
  </thead>
  <tbody>
 
    
  </tbody>
</table>