<div class="modal modal-message fade" id="new_event">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nuevo Evento</h4>
      </div>
      <div class="modal-body">
        <%= render 'meeting_management/meetings/form_new' ,:meeting => @meeting  %>
      </div>
    </div>
  </div>
</div>