<div class="row text-center pt-1 pb-0" style="background-color: #E8E8E8" >
  <div class="col-xl-12">
    <b style="font-size: 14px;" >ANÁLISIS DUVAL</b> 
  </div>
</div>

<p style="font-size: 10px;" class="pt-2">
El Análisis Duval se realiza usando los diagnósticos de Triángulo y Pentágono Duval.</p>

<div id="main_info" class="container" style="font-size: 10px;">
  <%= render partial: "transformer_management/transformers/partials_report/duval_data_results", :locals => {:transformer => @transformer} %>       
</div>