<div class="row text-center pt-1 pb-0" style="background-color: #E8E8E8" >
  <div class="col-xl-12">
    <b style="font-size: 14px;" >ANÁLISIS DE CALIDAD DE ACEITE</b> 
  </div>
</div>

<p style="font-size: 10px;" class="pt-2">
La evaluación de la calidad del aceite toma como referencia los valores sugeridos en el estándar IEE C57.106.</p>
 
<div id="main_info" class="container" style="font-size: 10px;">
  <%= render partial: "transformer_management/transformers/partials_report/fiqui_data_tests", :locals => {:transformer => @transformer} %>       
</div> 