<h1><strong>1. Alcance</strong></h1>

<p>Analizar los resultados de los ensayos realizados al aceite dieléctrico de los transformadores de <%= @report.customer.name  %>.</p>

<p>Los análisis de aceite evaluados en el presente reporte son:</p>

<ul>
	<li>
		<p>Análisis de gases disueltos en el aceite.</p>
	</li>
	<li>
		<p>Calidad del aceite.</p>
	</li>
</ul>

<p><br />
Los estándares empleados son:</p>

<p><strong>IEC 60599 - 2022</strong> <em>&ldquo;Mineral oil-filled electrical equipment in service - Guidance on the interpretation of dissolved and free gases analysis&rdquo;.</em></p>

<p>
<em>
Se emplea las tablas A2 y A4 de potencia y distribución respectivamente:
</em>
</p>
<p style="text-align:center">
<img src="https://drive.google.com/uc?id=1NbNkMWqcnRz-_VjlHog6T8Mz7jZOKAbV" alt="Google Drive Image"  width="400" height="200" />
</p>

<p style="text-align:center">
<img src="https://drive.google.com/uc?id=1VZ6YI8reRGFckP6vxGmfopQpEY4PPHa7" alt="Google Drive Image" width="400" height="200" />
</p>


<p><strong>IEEE Std C57.104&trade;-2019</strong> Guide for the interpretation of Gases Generated in Mineral Oil-Immersed transformers.</p>

<p><strong>IEEE Std C57.106&trade;- 2015</strong> &ldquo;Guide for Acceptance and Maintenance of Insulating Mineral Oil in Electrical Equipment&rdquo;.</p>

<p>Las metodologías de diagnóstico empleadas en el análisis contemplan:</p>

<ul>
	<li>Ratios de Rogers.</li>
	<li>Ratios Doernenburg.</li>
	<li>Ratios IEC 60599.</li>
	<li>Gas Clave.</li>
	<li>Triangulo Duval.</li>
	<li>Pentágono Duval.</li>
</ul>

<p>El software empleado para el análisis contempla las metodologías mencionadas y el análisis del riesgo en base a evaluación de la severidad y la naturaleza de los gases combustibles observados.</p>

<p>Se evalúa el historial de cada transformador y el diagnóstico de los parámetros de salud observados, luego se categorizan los transformadores de acuerdo con los niveles de riesgo: Alto, Medio y Bajo.</p>

<p>Finalmente se precisan actividades prioritarias para las flotas de transformadores con riesgo alto y actividades a mediano plazo para los transformadores con riesgo medio.</p>

<p>Los transformadores con riesgo bajo continúan con las actividades de mantenimiento establecidas en el estándar IEEE Std C57-93-2019 &ldquo;Guide for Installation and Maintenance of Liquid-Immersed Power Transformers&rdquo;.</p>

<p>&nbsp;</p>

<h1><strong>2. Responsables</strong></h1>

<p><br />
&nbsp;</p>

<p><strong>Elaborado por :</strong> Ronald Quispe</p>

<p><strong>Revisado por :</strong> Oscar Higa</p>

<p><br />
&nbsp;</p>