<p style="font-size:24px"><strong><%= @report.customer.name  %></strong></p>

<p style="font-size:24px"><strong>
  <% if @report.customer.avatar.blank? %>
    <img src="https://tr.dominio.com/demo.jpg"   width="400" height="200" /> 
  <% else %>
    <img src="https://tr.dominio.com<%= @report.customer.avatar_url %>"   width="400" height="200" />   
  <% end %>
</strong></p>

<p style="font-size:18px"><strong>Análisis de aceite dieléctrico</strong></p>
