<div class="panel-heading-btn">
  <a href="javascript:;" title="Pantalla Completa" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand">
  	<i class="fa fa-expand"></i>
  </a>
 
 
</div>