<!DOCTYPE HTML>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>  
<table border="0">
 <tr>
    <td><%#= wicked_pdf_image_tag "logotas.png",:size => "150x50" %></td>
    <td width="100%" align="center" valign="middle"><font size="6" valign="middle" align="center"><%= @title %></font></td>
 </tr>
</table>     
  </body>
</html>   